.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  width: 430px;
  max-width: 90%;
  box-sizing: border-box;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: 900;
  color: #000;
  line-height: 29px;
}

.modal__input {
  display: block;
  width: 100%;
  margin-bottom: 48px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__save-button {
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 14px 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
  transition: opacity 0.3s;
}

.modal__save-button:hover {
  opacity: 0.6;
}

.modal__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: transparent url('../images/close-icon.svg') center/contain no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal__close-button:hover {
  opacity: 0.6;
}


@media screen and (max-width: 480px) {
  .modal__container {
    max-width: 282px;
    padding: 25px 22px;
  }

  .modal__title {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__save-button {
    font-size: 14px;
  }

  .modal__close-button {
    top: -36px;
    right: 0;
  }
}
